body {
background-color: #ac62af53;
font-family: 'popins', sans-serif;
}

.container {
margin: auto;
max-width: 600px;
max-height: 700px;
border-radius: 8px;
background-image:url(../Images/background2.jpeg) ;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
  
h1, h2, p {
text-align: center;
}
  
h1 {
font-size: 3rem;
margin-top: 50px;
color: rgb(85, 72, 170);
}

h2 {
font-size: 2rem;
margin-top: 50px;
color: rgb(85, 72, 170)
}  

p {
font-size: 1.2rem;
line-height: 1.5;
color:rgb(85, 72, 170);
margin-bottom: 20px;
} 
p:last-of-type {
margin-bottom: 0;
}


h1 {
font-size: 2.5rem;
margin-top: 30px;
}  

h2 {
font-size: 1.5rem;
margin-top: 30px;
}  

p {
font-size: 1rem;
}

.button {
display: flex;
justify-content: center;
align-items: center;
}

button {
background-color: #2d172fd8;
color: rgb(148, 85, 144);
font-size: 1.2rem;
border: 5px;
border-radius: 10px;
padding: 5px 10px;
cursor: pointer;
transition: all 0.3s ease;
}
  
button:hover {
background-color: #ac62af;
}
  
button:focus {
outline: none;
}
  
button:active {
transform: translateY(2px);
}
  
@keyframes buttonPulse {

from {transform: scale(none); rotate: (0%);}
to {transform: scale(none); rotate: (0deg);}

}

img{

border-radius: 48px;
display: flex;
justify-content: center;
align-items: center;
}